header {
    width: 100%;
    min-height: 93.5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 500;
    font-style: normal;

    margin-bottom: 5px;
}

h2 {
    font-size: clamp(1.8rem, 2.8vw, 2.2rem);
    font-weight: 200;
    font-style: normal;
    letter-spacing: 4px;
}

header span {
    font-size: clamp(1.8rem, 3vw, 2.25rem);
    font-weight: 200;
    font-style: normal;
    text-align: center;

    margin-bottom: 5px;
}

.nav {
    width: 100%;
    height: 130px;

    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;

    background-color: #000;
}

.nav img {
    width: 100%;
    height: auto;

    padding: 10px;

    filter: invert(1);
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user span {
    color: white;
    font-size: 1.3rem;
}

.user a {
    width: 80px;
    height: 80px;
}

.navigation {
    flex-grow: 1;

    display: flex;
}

.navigation a {
    position: relative;

    width: 80px;
    height: 80px; 

    margin-right: 5px;
}

.navigation a::before, .navigation a::after {
    content: "";
    pointer-events: none;

    width: 0;
    height: 0;
    position: absolute;
    
    box-sizing: border-box;
   
    opacity: 0;
    border: 2px solid white;
}

.navigation a::before {
    border-left: none;
    border-bottom: none;
    transition: width .5s linear 1.5s, height .5s linear 1s, opacity .0s 2s;
}

.navigation a::after {
    border-top: none;
    border-right: none;
    right: 0;
    bottom: 0;
    transition: width .5s linear .5s, height .5s linear, opacity .0s 1s;
}

.navigation a:hover::before, a:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.navigation a:hover::before {
    transition: width .2s linear, height .5s linear .5s, opacity .1s;
}

.navigation a:hover::after {
    transition: width .5s linear 1s, height .5s linear 1.5s, opacity .0s 1s;
}

.header-title {
    padding: 20px;
}

.header-title span {
    font-size: 1.8rem;
}