.user-cadaster {
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 450px;

    border: 1px solid black;

    margin-bottom: 50px;
}

.insert {
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-insert {
    margin-bottom: 20px;
}

.user-cadaster {
    font-size: clamp(1.4rem, 2vw, 1.6rem);

    margin-bottom: 20px;
}

.insert input {
    border: 1px solid black;

    font-family: 'Rokkitt', serif;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
}

.input-name, .input-login, .input-password {
    width: 90%;
    height: 40px; 

    margin-bottom: 30px;
}

.save-user {
    width: 35%;
    height: 45px;
    
    font-weight: 600;
    background-color:  transparent;
    cursor: pointer;

    border: 1px solid black;
    transition: all .5s;
}

.save-user:hover {
    background-color: #5e0707;
    color: white;

    transition: all .5s;
    transform: scale(1.1);
}

/* lista de generos */
.users-content {
    width: 40%;
    height: 200px;

    margin: auto;
}

.users {
    width: 100%;
    min-height: 200px;
    height: auto;
}

.usersInfo {
    text-align: center;
}

.usersInfo, .usersData {
    width: 100%;
    height: 50px;

    display: flex;
}

.user-data {
    width: 60%;
}

.actions {
    width: 20%;

    display: flex;
    justify-content: center;
}

.actions img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    margin-right: 15px;
}

.edit {
    width: 70% !important;
    height: 95% !important;
}

.userData .user-data {
    padding-left: 10px;
}

.user-data, .actions {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    padding-top: 10px;
    border: 1px solid black;
}